.window {
  background-color: white;
  min-height: 700px;
  width: 400px;
}

.windowHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.storyContainer {
  background-color: lightGrey;
  min-height: 500px;
}
