/* Navbar stylings */
.navbar {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #c3d4e5;
  padding: 0px 30px 0px 30px;
  align-items: center;
  position: relative;
}

.navbar > * {
  margin: 0 20px;
}
.navbar > a:not(.navbar__logo) {
  padding: 0px 10px;
  font-size: 18px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #f39e40;
  /*background-color: #f39e40;*/
  height: 34px;
  display: flex;
  align-items: center;
  border: 1px solid #f39e40;
}

/* logo stylings*/

.navbar__logo {
  margin-right: auto;
  padding: 0 0 5px 0;
  height: auto;
  border: none;
}

.navbar__logo img {
  height: 75px;
}

/* button stylings */

.demoButton {
  box-sizing: border-box;
  height: 34px;
  color: white;
  background-color: #00b2c1;
  border-radius: 3px;
  padding: 0px 10px;
  border: none;
  font-size: 18px;
}

/* Profile Button stylings */
.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  position: absolute;
  align-self: flex-start;
  background-color: white;
  margin: auto;
}
.profileContainer__avatar {
  background-color: #f39e40;
  align-self: flex-end;
  height: 50px;
  width: 50px;
}

/* dropdown stylings */
.profile-dropdown {
  margin-top: 0;
  border: 1px solid #f39e40;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.profile-dropdown li {
  list-style-type: none;
}
.profile-dropdown a {
  padding: 10px;
}
.profile-dropdown * {
  margin: 10px 0;
}
